server:
  port: 8080

spring:
  datasource:
    url: jdbc:postgresql://dpg-d4e6lr0gjchc73fb3ka0-a.singapore-postgres.render.com/rmh_auth_service
    username: rmh_auth_service_user
    password: kikAXpXXW0YOnfLbhttdSKH0gcL4H4AQ
  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        format_sql: true
  # Jackson serialization settings removed to avoid enum binding issues

jwt:
  # Replace this with a secure 64+ byte value from your secrets manager in production
  secret: A_Replace_With_AtLeast_64_Bytes_Of_Secure_Random_Characters_______________
  accessTokenExpirationSeconds: 900   # 15 minutes
  refreshTokenExpirationSeconds: 1209600  # 14 days
logging:
  level:
    root: INFO

springdoc:
  api-docs:
    path: /api-docs
    groups:
      enabled: true
  swagger-ui:
    path: /swagger-ui.html
    operations-sorter: method
    tags-sorter: alpha
